<section class="ftco-section1" >



    <div class="container">

    




        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <!-- <h2 class="heading-section">Login #10</h2> -->
                <img src="/assets/images/image.png" alt="">
                <h3 class="mb-4 text-center">Welcome to Twitter</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                  <nav class="nav flex-column">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Explore</a>
                    <a class="nav-link" href="#">Notifications</a>
                    <a class="nav-link" href="#">Messages</a>
                    <a class="nav-link" href="#">Bookmarks</a>
                    <a class="nav-link" href="#">Lists</a>
                    <a class="nav-link" href="#">Profile</a>
                    <a class="nav-link" href="#">More</a>
                  </nav>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary submit px-9" routerLink="/home" style="background-color: rgb(77, 124, 224);">Tweet</button>
                </div>
              <!-- <h3 class="mb-4 text-center">Enter your credentials!</h3> -->
              <!-- <form action="#" class="signin-form">
                  <div class="form-group">
                      <label for="Home">Home</label>
                  </div>
                  <div class="form-group">
                    <label for="explore">Explore</label>
                </div>
                <div class="form-group">
                    <label for="Home">Home</label>
                </div>
                <div class="form-group">
                  <label for="explore">Explore</label>
              </div>
              <div class="form-group">
                <label for="Home">Home</label>
            </div>
            <div class="form-group">
              <label for="explore">Explore</label>
          </div>
          <div class="form-group">
              <label for="Home">Home</label>
          </div>
          <div class="form-group">
            <label for="explore">Explore</label>
        </div>
               
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit px-9" routerLink="/home" style="background-color: rgb(77, 124, 224);">Tweet</button>
            </div>
           
          </form>       -->
          </div>
            </div>



            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/card1.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/card1.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/card1.svg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>



            </div>


            <div class="col-md-6 col-lg-4">

                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active">
                      Trends for you
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                    <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                    <button type="button" class="list-group-item list-group-item-action">
                        Cras justo odio
                      </button>
                      <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                      <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                      <button type="button" class="list-group-item list-group-item-action">
                        Cras justo odio
                      </button>
                      <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                      <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                  </div>
                
             </div>
        </div>


    </div>
</section>